<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>First Project: checking</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h2>Оцените ответы:</h2>
    <form>
        <p>Вопрос&nbsp;10</p>
        <p>Что такое Spring?</p>
        <p>Максимальный Балл:&nbsp;1</p>
        <hr></hr>
        <p>Ответ:</p>
        <p>Облегченная платформа для построения Jаvа-приложений. Основана на принципе IoC.</p>
        <p>Оценка:</p>
        <p><input type="text" name="rate" /></p>
        <p><input type="submit" formaction="./checking.html" value="Следующий"/></p>
    </form>
</body>
</html>