<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>First Project: enterQuestion</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Введите вопрос №<label th:text="${currentIndex}"> </label></h1>

    <form action="#" th:action="@{/enterQuestion}" th:object="${question}" method="post">
        <p>Question: <textarea  th:field="*{message}" rows="5" cols="60" required="required" placeholder="Введите вопрос"></textarea></p>
        <p>MaxRate: <input value="" type="text" th:field="*{maxRate}" required="required" placeholder="0"/></p>
        <p><input type="submit" value="Отправить" /> <input type="reset" value="Сбросить" /></p>
    </form>
</body>
</html>